<!DOCTYPE html>
<html>

<head>
    <title>Security Site</title>
    <!-- Include jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--Crypto Test-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="scripts/script.js"></script>
</head>

<style>
    body 
    {
        background-image: url('https://wallpapers.com/images/file/cybersecurity-background-e6rkcqv5zzzqui0q.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>

<body>
    <header class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cryptography Algorithm</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Encrypt & Decrypt</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!--Dropdown test-->
    <div style="position: fixed; top: 10%; right: 10px; padding-right: 10px; transform: translateY(-10%); display: inline-block; background-color: #F9F9F9; padding: 10px; border: 1px solid #E8E8E8; border-radius: 5px;">
        <label for="encryption_algorithm" class="required" style="color: rgb(0, 0, 0); display: block; margin-bottom: 5px;">Supported Encryptions:</label>
        <select id="encryption_algorithm" name="encryption[algorithm]">
          <option value="DES">DES</option>
        </select>
      </div>
    <!-- CODE FOR BOXES! -->
    <section class="row">
        <!--Enc and Dec containers-->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2 style="color: rgb(197, 229, 16);">Encrypt</h2>
                    <label for="input-box" style="color: rgb(197, 229, 16);">Enter a string to be encrypted:</label>
                    <textarea id="encrypt-input" class="form-control input-lg ng-pristine ng-valid ng-touched" rows="4"
                        placeholder="Enter plain text to hash" ng-model="textToEncrypt" name="textToEncrypt"></textarea>
                </div>
                <div class="col-md-6">
                    <h2 style="color: rgb(197, 229, 16);">Decrypt</h2>
                    <label for="input-box" style="color: rgb(197, 229, 16);">Enter a string to be decrypted:</label>
                    <textarea id="decrypt-input" class="form-control input-lg ng-pristine ng-valid ng-touched" rows="4"
                        placeholder="Enter text to decrypt" ng-model="textToDecrypt" name="textToDecrypt"></textarea>
                </div>
            </div>
        </div>
        <!--Modes Of Operations box-->
        <div class="container">
            <label for="MODE" style="color: rgb(197, 229, 16);">Select a Mode of Operation:</label>
            <select class="form-control" id="mode-select">
                <option>ECB</option>
                <option>CBC</option>
                <option>CFB</option>
                <option>None</option>
            </select>
        </div>
        <!-- CODE FOR PKEY Box -->
        <div class="container">
            <div class="form-group">
                <label for="PKEY" style="color: rgb(197, 229, 16);">Enter a Key</label>
                <input type="key" class="form-control" id="pKey" placeholder="Enter Private key">
            </div>
        </div>
        <!--Buttons-->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-secondary btn-lg">Encrypt string →</button>
                </div>
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-secondary btn-lg">← Decrypt string </button>
                </div>
            </div>
        </div>
    </section>
    <footer class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">&copy; 2023 Security Website. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>