<!DOCTYPE html>
<html>

<head>
    <title>Security Site</title>
    <!-- Include jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
    <header class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cryptography Algorithm</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Encrypt & Decrypt</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="container">
        <section class="row">
            <div class="col-md-6">
                <h2>DES Algorithm</h2>
                <p>(Stuff About DES)</p>
            </div>
            <div class="col-md-6">
                <h2>More Stuff About DES *Move To Bottom*</h2>
                <ul>
                    <li>Stuff For Later</li>
                    <li>Stuff For Later</li>
                    <li>Stuff For Later</li>
                    <li>Stuff For Later</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" style="max-width: 400px;">
                <h2>Encrypt</h2>
                <label for="input-box">Enter a string to be encrypted:</label>
                <textarea id="encrypt-input" class="form-control input-lg ng-pristine ng-valid ng-touched" rows="4" placeholder="Enter plain text to hash" ng-model="textToEncrypt" name="textToEncrypt"></textarea>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12" style="max-width: 400px;">
                <h2>Decrypt</h2>
                <label for="input-box">Enter a string to be decrypted:</label>
                <textarea id="decrypt-input" class="form-control input-lg ng-pristine ng-valid ng-touched" rows="4" placeholder="Enter text to decrypt" ng-model="textToDecrypt" name="textToDecrypt"></textarea>
            </div>
        </section>
    </main>

    <footer class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">&copy; 2023 Security Website. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>